$bg-color: #f6f5f1;
$bg-color-container: hsl(48, 22%, 98%);
$bg-color-border: hsl(48, 22%, 95%);
$bg-color-darker:#c3a6a0;
$text-highlight-color:#a15c38;
$darker-color:#353534;
$link-color:#960462;

body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    background-color: $bg-color !important;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    .foldernote{
      h1{
        font-size: 32px !important;
      }

    }
}
.human-date{
  color: $text-highlight-color;
}
p,a {
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $darker-color;
  font-size: 1em;
}
p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
a{
  font-weight: 18px;
  color:$link-color !important;
}
.backlink-title{
  @extend p;
  font-weight: 600;
}
.filename{
  @extend a;
  font-weight: 500;
}
.foldername{
  @extend a;
  color: $darker-color;
  display: block;
  width: 100%;
  font-weight: 500;
}
.foldername-wrapper {
  width: 100%;
}
.content{
  h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend p;
      font-weight: 200;
      font-size: 2em;
    }
    h1{
      display: block;
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    h2 {
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
        }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }
    .tag{
      background:$bg-color-darker;
      color: $bg-color;
      margin-right: 20px;
    }
    .alert{
          background: $bg-color-container;
          display: inline-flex;
          width: 100%;
          max-width: 780px;
          padding: 10px;
          flex-direction: column;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          text-align: center;
          margin: auto;
          border: 2px solid $bg-color-border;
          border-radius: 10px;
          box-shadow: 10px 10px 10px $bg-color-border;
          grid-column: 1 / 4 !important;
    }
}

