$bg-color: #F6F5F1;
$bg-color-container:hsl(0, 0%, 100%);
$text-highlight-color:#4B001C;
$bg-color-border: hsl(0, 0%, 100%);
$bg-color-darker:#ffffff;
$darker-color:#353534;
$link-color:#FF005E;
$bodyfont:"Lato",serif;;
$headerfont:"Libre Caslon Text",serif;
$highlightTextFont:"Caveat",cursive;
body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    background-color: $bg-color !important;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
.human-date{
  color: $text-highlight-color;
}
.navbar{
  background-color: $bg-color-container;
}
p,a,li {
  font-family:$bodyfont;
  font-style: normal;
  font-weight: 400;
  color: $darker-color;
  font-size: 1em;
}
p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
a{
  font-weight: 500;
  color:$link-color !important;
  :hover{
    text-underline-offset: -100px !important;
  }
  ::after{

  }

}
::marker {
  color: $darker-color !important;
}

.backlink-title{
  @extend p;
  font-weight: 600;
}
.filename{
  @extend a;
  font-weight: 500;
}
.foldername{
  @extend a;
  color: $darker-color;
  display: block;
  width: 100%;
  font-weight: 500;
}
.foldername-wrapper {
  width: 100%;
}
.content{
  h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend p;
      font-family: $headerfont !important;
      font-weight: 400;
    }
    h1{
      font-family: $headerfont !important;
      display: block;
      font-size: 2em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    h2 {
      font-family: $headerfont !important;
      display: block;
      font-size: 1.5em;
      margin-block-start: 2em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
        }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }
    .tag{
      background:$bg-color-darker;
      color: $bg-color;
      margin-right: 20px;
    }
    .timestamps {
      display: flex;
      flex-direction: row;
      font-size: .8em;
      gap: 10px;
      margin-top: 0px !important;
    }
    .alert{
          background: $bg-color-container;
          display: inline-flex;
          width: 100%;
          max-width: 780px;
          padding: 10px;
          flex-direction: column;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          text-align: center;
          margin: auto;
          border: 2px solid $bg-color-border;
          border-radius: 10px;
          box-shadow: 10px 10px 10px $bg-color-border;
          grid-column: 1 / 4 !important;
    }
}

